
.project-item {
    /*break-inside: avoid;*/
    page-break-inside: avoid;
/*outline: 3px solid orange;*/
    display: flex;



}

.list-container {
    outline: 3px solid purple;


}

.project-items{
    outline: 2px solid silver;
    column-count: 2;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 0;
}