.skills-items-body {
    /*outline: solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    font-size: 2rem;
}

.skill-items {
    column-count: 2;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 0;
}


@media (max-width: 550px) {
    .skill-items {
        column-count: 1;
    }
    .skills-items-body {
        font-size: 1.25rem;
    }
}


.skill {

    padding: 0 2rem 0 2rem;
}