.navbar {
    margin: 0;
    padding:0;
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    background: var(--background);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    height:8vh;
}
/*.navbar-text{display:flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    margin: 0 auto;}*/


@keyframes hover {
0%{color:var(--primary);}
100%{color:var(--secondary)}
}

@media (max-width: 550px) {
    .navbar {
        font-size: 1.5rem;
    }
}


