.splash-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.splash-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline:solid red;
    height: 90%;
}

.chevron {
    display:flex;
    outline:solid red;
    height: 10%;
    align-items: center;
}

.splash-title {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 1.5rem;

}

.splash-subtitle {
    outline:solid green;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1rem;
    padding: 1vh;
    margin:0;
}

.splash-subsubtitle {
    font-size: 0.75rem;
}

.chevron-pulse {
    animation: pulse 2s linear infinite;
    padding-bottom: 2vh;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        color: var(--primary);
    }
    50% {
        transform: scale(1.5);
        color: var(--secondary);
    }
    100% {
        transform: scale(1);
        color: var(--primary);
    }
}


.Typist .Cursor {
    display: inline-block; }
.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; } }


@media (max-width: 550px) {

    .splash-title {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5rem;

    }

}