
:root{
  /*--primary: #006494;*/
  /*--p2: #006494;*/
  /*--secondary: #1E91D6 ;*/
  --background: #FFFBFA;
  --primary: #002C5C;
  --secondary: #0051A8;
  /*--background: #F6F7EB;*/
}


html{ scroll-behavior: smooth;}
body{
  color: var(--primary);
  /*font-family: "Segoe UI", serif;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight:500;
  background-color: var(--background);
  padding: 0;
  margin:0;
}


.component{
display: flex;
  flex-direction: column;
  align-items: center;
  /*outline:1px solid black;*/
  margin:0;
  height: 92vh;
  padding: 8vh 0 0;
}

.hoverable{
  transition: .3s all ease;

}

.hoverable:hover{
  color:var(--primary);

}


.page-title{
  padding:0;
  margin:0;
}

a{
  color:var(--secondary);
text-decoration: None;
  }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
